/*captain's test edit*/
/* 메인화면 환일 뉴스 제목 정리 */
h4.fusion-carousel-title a{
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

/* 주제선택활동 글자 간격 */
#photo_category{
    height:35px;
}
#photo_category > div{
    width: 20% !important;
}

/* 사 이 트 맵 글 꼴 */
.fusion-accordian .fusion-panel.fusion-toggle-no-divider.fusion-toggle-boxed-mode .panel-title a{
    font-family: Malgun Gothic;
}

div#wrapper{
  height: unset !important;
}

/* 팝업 */
.klpu-style-center-fixed{
    border: none;
    z-index: 9000 !important;
    top: 20%;
}
.klpu-item-control > label {
    padding: 0 !important;
}
.klpu-style-center-fixed .klpu-item{
    padding: 15px 4% 0 !important;
}
.klpu-item-content{
    padding: 20px 15px !important;
}
.klpu-close-btn{
    width: 50px;
    height:22px;
    border: none;
    background: #014da1;
    color:white;
    font-weight: 100;
}

/* 명품환일 게시판 title-edit */
.title_edit > div > article > div > div > h2 > a{
    height:30px;
    display:inline-block;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:pre;
    width:264px;
}
.title_edit > div > article > div > div > div > p{
    height:60px;
    display:inline-block;
    overflow:hidden;
    width:260px;
}

/* 게시판표 줄넣기 */
.kboard-content table tr td {
    border: 1px solid black;
    padding: 3px;
}

/* 환일 갤러리 */
.fusion-blog-layout-grid .fusion-post-wrapper .fusion-image-wrapper img{
    height:177px;
}

.fusion-blog-layout-grid .fusion-post-content-container p:last-child,
.fusion-blog-layout-timeline .fusion-post-content-container p:last-child{
    display:none;
}
.fusion-blog-layout-grid .fusion-post-content-wrapper,
.fusion-blog-layout-timeline .fusion-post-content-wrapper{
    padding:20px 20px 5px;
}
#hwan_gal > div > article > div > div > div > h2 > a,
#hwanil_video > div > article > div > div > div > h2 > a{
    height:30px;
    display:inline-block;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:pre;
    width:225px;
}
#hwan_gal div.fusion-post-content-wrapper,
#hwanil_video div.fusion-post-content-wrapper{
  padding: 25px 15px 10px !important;
}
/* 환일뉴스 */
.fusion-portfolio-content{
    margin-top:10px;
}

#hwanil_news > div > article > div > div > h2 > a{
    height:30px;
    display:inline-block;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:pre;
    width:265px;
}
#hwanil_news > div > article > div > div > div > p{
    height:60px;
    display:inline-block;
    overflow:hidden;
    width:265px;
}


/* 학생회 높이조절 */
#hackseng > div > div > div > p{
    display:none;
}

#daumRoughmapContainer1500278929566{
    width:100% !important;
    max-width:833px !important;
}

.tablepress tbody tr td{
    vertical-align:middle;
}

.tablepress tbody tr td:last-child{
    text-align:center;
}

.text-block{
    line-height:1.8em;
}

/* 방과후 가로메뉴 */
#menu-widget-16 ul li{
    margin-right:20px !important;
}
#menu-widget-16 ul li:last-child{
    margin-right:0 !important;
}
#menu-widget-16 ul li a{
    font-size:0.95em !important;
}

/* 교육목표 */

#tablepress-36 .column-1 {
    vertical-align: middle;
    width:17%;
}

#tablepress-36 .column-2{
    width:12%;
    vertical-align: middle;
    text-align:center;
}

#tablepress-36 .column-3{
    padding: 1.2em 2em;
    line-height:1.5em;
}

/* 학교현황 */

.tablepress td, .tablepress th{
    text-align:center;
}

/* 교육활동 - 교육계획 */
#tablepress-70 > tbody > tr > td{
    text-align: left;
    padding: 4px 3em 20px;
    line-height:1.8em;
    width:50%;
    vertical-align:top;
}
#tablepress-70 > tbody > tr > td > h3{
    text-align: center;
}

#tablepress-70 > tbody > tr > td > p{
    margin-bottom: 0.3em;
    text-indent:-0.6em;
    padding:0 0.5em;
}

#plan_img img{
width:calc(100% - 10px);
margin: 0 0 0px 10px
}

#plan_arrow{
    margin: 1em 0;
}

/* 교육활동 - 교육과정 */
#tablepress-72 > tbody > tr > td{
    font-weight:400;
    text-align:left;
    line-height:2em;
}
#tablepress-72 > tbody > tr > td:first-child{
    width:8%;
    text-align:center;
    vertical-align:middle;
    background-color:#f2fcff;
}
#tablepress-72 > tbody > tr > td:last-child{
    background-color:white;
    padding:1.5em 2em;
    padding-left: 3em;
    text-indent:-1em;
}

#tablepress-72 > tbody > tr > td p{
    margin:0;
}

#plan_taps > div > div > table > tbody > tr > td:first-child{
    width:13%;
}
#plan_taps > div > div > table > tbody > tr > td:nth-child(2),
#plan_taps > div > div > table > tbody > tr > td:nth-child(3),
#plan_taps > div > div > table > tbody > tr > td:nth-child(4),
#plan_taps > div > div > table > tbody > tr > td:nth-child(5),
#plan_taps > div > div > table > tbody > tr > td:nth-child(6){
    width:10%;
}

/* 이미지캡션 */
.photo_text {
    width: calc(100% + 10px);
    margin-left:-5px;
}

.photo_text > div{
    width:25%;
    padding:5px;
    text-align:center;
    float:left;
}

.fusion-megamenu-title{
    padding:0 1.3em 15px;
}

.fusion-megamenu-wrapper .fusion-megamenu-submenu .sub-menu a{
    padding:5px 24px;
}

/* 교직원현황 */
#tablepress-14 > tbody > tr > td:first-child{
    width:26%;
    text-align:center;
    vertical-align:middle;

}
#tablepress-14 > tbody > tr > td:nth-child(2),
#tablepress-14 > tbody > tr > td:nth-child(3)
{
    width:18%;
    text-align:center;
    vertical-align:middle;
}

#tablepress-15 > tbody > tr > td:first-child,
#tablepress-16 > tbody > tr > td:first-child,
#tablepress-17 > tbody > tr > td:first-child{
    width:10%;
}

#tablepress-15 > tbody > tr > td:nth-child(2),
#tablepress-16 > tbody > tr > td:nth-child(2),
#tablepress-17 > tbody > tr > td:nth-child(2){
    width:13%;
}

#tablepress-15 > tbody > tr > td:nth-child(3),
#tablepress-16 > tbody > tr > td:nth-child(3),
#tablepress-17 > tbody > tr > td:nth-child(3){
    width:20%;
}

#tablepress-67 > tbody > tr > td:first-child,
#tablepress-68 > tbody > tr > td:first-child,
#tablepress-69 > tbody > tr > td:first-child{
    width:23%;
}

#tablepress-67 > tbody > tr > td:nth-child(2),
#tablepress-68 > tbody > tr > td:nth-child(2),
#tablepress-69 > tbody > tr > td:nth-child(2){
    width:40%;
}

/* 학교위치 */
#tablepress-43 > tbody > tr:nth-child(7) > td:last-child,
#tablepress-43 > tbody > tr:nth-child(8) > td:last-child{
    padding:1.2em 2em;
    text-align:left;
    line-height:1.5em
}
#tablepress-43 > tbody > tr:nth-child(8) > td:last-child > p:first-child{
    margin:0 0 -5px;
    padding-left:8em;
    text-indent:-8em;
}
#tablepress-43 > tbody > tr:nth-child(8) > td:last-child > p:last-child{
    margin:-5px 0 0;
    padding-left:10.5em;
    text-indent:-10.5em;
}

/* 교육활동 */
#edu_act > div > p{
    text-indent:0.6em;
    line-height:1.8em;
}
#edu_act > div > p:nth-child(14),
#edu_act > div > p:nth-child(15),
#edu_act > div > p:nth-child(16),
#edu_act > div > p:nth-child(17),
#edu_act > div > p:nth-child(18){
    text-indent:-5.9em;
    padding-left:6.4em;
}

/* 평가계획 */
#ass_plan > div > p{
    text-indent:-1.1em;
    padding-left:1.4em;
    line-height:1.8em;
}
#ass_plan_taps1 > div > ul > li > a > h4 {
    font-size:14px;
}

#tablepress-49 > tbody > tr > td,
#tablepress-23 > tbody > tr > td{
    line-height:1.6em;
}

/* 학사일정 */
#ai1ec-calendar-view > table > tbody > tr > td{
    padding: 1em;
}
.ai1ec-month-view .ai1ec-event,
.ai1ec-week-view .ai1ec-event,
.ai1ec-oneday-view .ai1ec-event{
    white-space:normal;
    overflow:visible;
    padding:0.5em;
    height:auto;
}

/* 연간일정 */
#tablepress-38 > tbody > tr > td:first-child,
#tablepress-39 > tbody > tr > td:first-child,
#tablepress-51 > tbody > tr > td:first-child,
#tablepress-52 > tbody > tr > td:first-child{
    width:10%;
}
#tablepress-38 > tbody > tr:nth-child(2) > td:nth-child(2),
#tablepress-39 > tbody > tr:nth-child(2) > td:nth-child(2),
#tablepress-51 > tbody > tr:nth-child(2) > td:nth-child(2),
#tablepress-52 > tbody > tr:nth-child(2) > td:nth-child(2){
    width:5%;
}
#tablepress-38 > tbody > tr:nth-child(2) > td:nth-child(3),
#tablepress-39 > tbody > tr:nth-child(2) > td:nth-child(3),
#tablepress-51 > tbody > tr:nth-child(2) > td:nth-child(3),
#tablepress-52 > tbody > tr:nth-child(2) > td:nth-child(3){
    width:25%;
}
#tablepress-38 > tbody > tr:nth-child(2) > td:nth-child(4),
#tablepress-39 > tbody > tr:nth-child(2) > td:nth-child(4),
#tablepress-51 > tbody > tr:nth-child(2) > td:nth-child(4),
#tablepress-52 > tbody > tr:nth-child(2) > td:nth-child(4){
    width:5%;
}
#tablepress-38 > tbody > tr:nth-child(2) > td:nth-child(5),
#tablepress-39 > tbody > tr:nth-child(2) > td:nth-child(5),
#tablepress-51 > tbody > tr:nth-child(2) > td:nth-child(5),
#tablepress-52 > tbody > tr:nth-child(2) > td:nth-child(5){
    width:25%;
}

#tablepress-38 > tbody > tr:nth-child(2) > td:nth-child(6),
#tablepress-39 > tbody > tr:nth-child(2) > td:nth-child(6),
#tablepress-51 > tbody > tr:nth-child(2) > td:nth-child(6),
#tablepress-52 > tbody > tr:nth-child(2) > td:nth-child(6){
    width:5%;
}
#tablepress-38 > tbody > tr:nth-child(2) > td:nth-child(7),
#tablepress-39 > tbody > tr:nth-child(2) > td:nth-child(7),
#tablepress-51 > tbody > tr:nth-child(2) > td:nth-child(7),
#tablepress-52 > tbody > tr:nth-child(2) > td:nth-child(7){
    width:25%;
}

/* 방과후학교 */
#after_school > div > p,
#free_study > div > p,
#aptitude > div > p{
    text-indent:0.4em;
    line-height:1.8em;
}
#after_school2 > div > p{
    text-indent:-1.1em;
    padding-left:1.4em;
    line-height:1.8em;
}

/* 환일의 비전 */
#tablepress-30 > tbody > tr > td > p:last-child{
    margin:0;
}
#tablepress-30 > tbody > tr > td{
    padding: 1em 0.9em 1em 1.6em;
    line-height:1.7em;
    text-align:left;
    text-indent:-0.7em;
}
#tablepress-30 > tbody > tr:first-child > td,
#tablepress-30 > tbody > tr:nth-child(2) > td{
    text-align:center;
    text-indent:0em;
    padding:1em;
}
#tablepress-30 > tbody > tr > td:first-child{
    width:12%;
    text-align:center;
    text-indent:0em;
    padding: 0.7em;
}

#tablepress-30 > tbody > tr:nth-child(5) > td:nth-child(2),
#tablepress-30 > tbody > tr:nth-child(5) > td:nth-child(3),
#tablepress-30 > tbody > tr:nth-child(5) > td:nth-child(4){
    width:26.5%;
}


/* 학생회 */
#tablepress-31 > tbody > tr > td:first-child,
#tablepress-32 > tbody > tr > td:first-child,
#tablepress-32 > tbody > tr:first-child > td:nth-child(5){
    width:12%;
}

#tablepress-31 > tbody > tr:first-child > td:nth-child(2),
#tablepress-32 > tbody > tr:first-child > td:nth-child(2),
#tablepress-32 > tbody > tr:first-child > td:nth-child(6){
    width:10%;
}

#tablepress-31 > tbody > tr:first-child > td:nth-child(3),
#tablepress-32 > tbody > tr:first-child > td:nth-child(3),
#tablepress-32 > tbody > tr:first-child > td:nth-child(7){
    width:12%;
}
#tablepress-31 > tbody > tr:first-child > td:nth-child(4){
    width:60%;
}

#tablepress-31 > tbody > tr:first-child > td:nth-child(4){
    width:60%;
}

/* 동아리 */
#tablepress-33 > tbody > tr > td,
#tablepress-34 > tbody > tr > td{
    line-height:1.7em;
}

#tablepress-33 > tbody > tr:first-child > td:first-child,
#tablepress-34 > tbody > tr:first-child > td:first-child{
    width:10%;
}
#tablepress-33 > tbody > tr:first-child > td:nth-child(2),
#tablepress-34 > tbody > tr:first-child > td:nth-child(2){
    width:9%;
}
#tablepress-33 > tbody > tr:first-child > td:nth-child(3),
#tablepress-34 > tbody > tr:first-child > td:nth-child(3){
    width:10%;
}
#tablepress-33 > tbody > tr:first-child > td:nth-child(4),
#tablepress-34 > tbody > tr:first-child > td:nth-child(4){
    width:44%;
}
#tablepress-33 > tbody > tr:first-child > td:nth-child(5),
#tablepress-34 > tbody > tr:first-child > td:nth-child(5){
    width:12%;
}
#tablepress-33 > tbody > tr:first-child > td:nth-child(6),
#tablepress-34 > tbody > tr:first-child > td:nth-child(6){
    width:10%;
}

/* 급식 갤러리 */
#gal_front_form_0 > div{
    text-align:left !important;
}


#bwg_standart_thumbnails_0{
    text-align:left !important;
}

#bwg_standart_thumbnails_0 > a > span{
    margin-bottom:15px;
}

.bwg_title_spun2_0{
    color:black !important;
}


@media screen and (min-width: 856px){
    /*홈배너사진*/
    .home-news > div > div > div > ul > li > div > div > a > img{
    height:195px !important;
    }
}

@media screen and (max-width: 855px){
    /*홈배너사진*/
    .home-news > div > div > div > ul > li > div > div > a > img{
    height:135px !important;
    }
}
@media (min-width: 641px) and (max-width: 800px){

}
/* /captain's test edit */
/*----- Default Settings -----*/
.mobileOnly { /* Hide mobile only menus */
    display: none;
}

/*----- General Design Settings -----*/

/* Font Design */
body { /* Body font setting */
    font: 14px/20px 'Malgun Gothic',PTSansRegular,Arial,Helvetica,sans-serif;
}
h1, h2, h3, h4, h5, h6 { /* Title font setting */
    font-family: 'Malgun Gothic', "Antic Slab" !important;
    font-weight: 700 !important;
}
.fusion-megamenu-title, .button-default, .fusion-main-menu .sub-menu li a {
	font-family: 'Malgun Gothic', "Antic Slab";
}
.fusion-main-menu > ul > li > a, .side-nav li a {
	font-family: 'Malgun Gothic', "Antic Slab";
}
/* Header Design */
.page-id-5 .fusion-header { /* Removed header bottom border */
    border-bottom: none;
}
/* Footer Design */
.fusion-footer .wp-image-2391 { /* Footer logo resized */
    width: 60px;
}
.fusion-footer p { /* Footer font resized */
    font-size: 11px;
}
/* Element Design */
.fusion-flip-boxes .fusion-flip-box .flip-box-back, .fusion-flip-boxes .fusion-flip-box .flip-box-front { /* Flipbox inner padding */
    padding: 0;
}
.page-id-5 .flip-box-front, .page-id-5 .flip-box-back { /* Flipbox height */
    min-height: 123px !important;
}
.page-id-5 .fusion-image-carousel { /* Carousel - bottom margin */
    margin-bottom: 0;
}
.fusion-portfolio { /* Portfolio - bottom margin */
    margin-bottom: 20px;
}
.fusion-filters { /* Filters tag top margin */
    margin-top: 0;
}
.fusion-tabs { /* Tabs margin bottom */
    margin-bottom: 15px;
}
.fusion-recent-posts { /* Recent post bottom margin */
	margin-bottom: 0;
}
/* Menu Design */
.fusion-widget-menu ul { /* Horizontal menu border top */
    border-top: 1px solid #e7e6e6;
}
.fusion-widget-menu .current-menu-item { /* Horizontal menu current item */
	border-top: 3px solid #014da1;
}
.fusion-widget-menu ul li { /* Horizontal menu design */
    border-top: 3px solid transparent;
    margin-right: 27px !important;
    padding-top: 5px !important;
}

.fusion-widget-menu ul li:last-child{
    margin-right: 0px !important;
}

.fusion-content-widget-area .widget { /* Horizontal menu widget top margin adjusted */
    margin-bottom: 10px;
}
.fusion-megamenu-wrapper .fusion-megamenu-submenu { /* Mega menu submenu padding */
    padding: 18px 0;
}
.fusion-main-menu ul a { /* Mega menu title font */
    font-weight: 700;
    color: #014da1;
}
.fusion-megamenu-title a { /* Mega menu font */
    font-weight: 700;
}
.fusion-megamenu .fusion-megamenu-icon { /* Icon mega menu */
    color: #014da1;
	width: 18px;
	font-size: 12px;
}
.fusion-megamenu-bullet { /* Icon mega menu hide */
	display: none;
}
.fusion-megamenu-wrapper .fusion-megamenu-submenu { /* First row mega menu height fix */
	padding: 23px 0 22px 0;
}

/*----- Page Content Settings -----*/
/* Image frame settings */
.portrait-frame { /* Founder portrait resized */
    width: 10rem;
}
.h-world-img { /* Academic goal img top */
    width: 123.5px;
    height: 145px;
}
.h-book-img { /* Academic goal img bottom */
    width: 107px;
    height: 117px;
}
.h-school-img { /* Academic goal img left */
    width: 101.9px;
    height: 116px;
}
.h-heart-img { /* Academic goal img right */
    width: 99.7px;
    height: 109px;
}

/* Text block bullet settings */
.text-block h2:before, .single-ai1ec_event #content:before { /* Bar above H2 & calendar post */
    content: " ";
    display: block;
    border: 4px solid #c7e7ff;
    width: 35px;
    margin-bottom: 10px;
}
.text-block h2 { /* H2 color */
    color: #014da1;
}

/*----- Plugin Settings -----*/

/* Photo Gallery */
.page-id-286 #bwg_tag_wrap { /* Remove tag */
    display: none;
}

/* Bellows Accordion Menu Settings */
.bellows { /* Top margin removed */
	margin: 0 !important;
}
.bellows.bellows-skin-grey-material { /* Shadow removed */
    background: #dcdadb !important;
	box-shadow: none !important;
}
.bellows.bellows-skin-grey-material .bellows-nav .bellows-target { /* Height menu bar */
	padding: .8rem !important;
    color: #333 !important;
}
.bellows .bellows-nav .bellows-submenu .bellows-target { /* Submenu heigh size */
	padding-top: .8rem;
	padding-bottom: .8rem;
}
.bellows .bellows-nav .bellows-subtoggle { /* Width toggle */
	width: 25% !important;
}
.bellows .bellows-nav .bellows-subtoggle .fa { /* Color toggle icon */
    color: #fff !important;
}
.bellows.bellows-skin-grey-material .bellows-nav .bellows-item-level-0.bellows-current-menu-item > .bellows-target, .bellows.bellows-skin-grey-material .bellows-nav .bellows-item-level-0.bellows-current-menu-ancestor > .bellows-target { /* Background opened tab main */
    background: #c7e7ff !important;
    font-weight: 700;
}
.bellows.bellows-skin-grey-material .bellows-nav .bellows-item-level-0.bellows-active > .bellows-target { /* Background opened tab secondary */
	background: #c7e7ff !important;
}
.bellows.bellows-skin-grey-material .bellows-nav .bellows-item-level-0 > .bellows-target { /* Border bottom */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.bellows.bellows-skin-grey-material .bellows-nav .bellows-submenu .bellows-current-menu-item > .bellows-target {
    background: #e8f7ff !important;
}
.bellows.bellows-skin-grey-material .bellows-nav .bellows-item-level-0 > .bellows-target .bellows-subtoggle { /* Toggle background */
    background: rgba(0, 0, 0, 0.1) !important;
}
.bellows .bellows-nav li a:hover { /* Menu hover color */
    background: #c7e7ff !important;
}
/* Kboard Settings */
/* Search and write button color needs to be inserted into kboard custom CSS section
a.kboard-default-button-small, input.kboard-default-button-small, button.kboard-default-button-small {
    background: #e5e5e5 !important;
    color: #333 !important;
}
#kboard-default-list .kboard-pagination .kboard-pagination-pages li:hover a, #kboard-default-list .kboard-pagination .kboard-pagination-pages li.active a {
    background-color: #014da1;
}
*/
#kboard-default-latest thead tr { /* Latest header removed */
    display: none;
}
#kboard-default-latest table td { /* Latest table design */
    border-top: none !important;
    border-bottom: 1px solid #f1f1f1 !important;
    line-height: 28px;
}
#kboard-default-latest table tr td a:before { /* Latest table icon added */
    content: "\f04d";
    font-family: FontAwesome;
    color: #014da1;
}
.kboard-default-cut-strings { /* Bullet positioning */
    display: inline;
    margin-left: 5px;
}
.kboard-default-poweredby { /* Removed credentials */
    display: none;
}
.kboard-list thead tr:nth-child(1) { /* Heading background color */
	background-color: #014da1 !important;
}
.kboard-list tbody td:nth-child(1) { /* 1st column background color */
	background-color: #f8f8f8;
}
.kboard-list thead tr td { /* Thead font color */
	color: #f8f8f8 !important;
}
.kboard-list-title { /* Title left padding */
	padding-left: 5px !important;
}
.kboard-default-cut-strings { /* Preview wrap text */
    white-space: normal !important;
}
/* Tablepress Settings */
.tablepress { /* Font settings */
    font-size: 14px;
    line-height: 1rem;
}
.tablepress tbody { /* Table added top and bottom border */
    border-top: 2px solid #014da1;
    border-bottom: 2px solid #014da1;
}
.tablepress tbody td { /* Table added borders */
    border: 1px solid #b3b3b3;
    border-left: none;
    border-right: 1px solid #b3b3b3;
}
.tablepress tbody tr td:last-child { /* Remove last column border */
    border-right: none;
}
.tablepress caption { /* Remove tablepress caption */
	display: none;
}
.tablepress tbody .row-1 td { /* Top row settings */
    background-color: #f2fcff;
    font-weight: 700;
}
.table-timeline td.column-1 { /* Timeline table 1st column background color */
	background-color: #f2fcff !important;
	font-weight: 700 !important;
    text-align: center;
}
.table-timeline .column-1 { /* Timeline table 1st column width */
    width: 20%;
}
.table-timeline tbody .row-1 td{
    background-color: #f9f9f9;
    font-weight: 500;
}
#tablepress-36 .column-2 { /* 3 objectives table */
    width: 120px;
}

/* All-in-one Event Calendar Settings */
.ai1ec-week-view table thead tr th { /* Homepage UI 1st row design */
	background-color: #fff !important;
	text-align: center !important;
}
.page-id-5 .ai1ec-month-view .ai1ec-allday .ai1ec-event, .page-id-5 .ai1ec-month-view .ai1ec-multiday .ai1ec-event, .page-id-5 .ai1ec-week-view .ai1ec-allday-events .ai1ec-allday .ai1ec-event, .page-id-5 .ai1ec-week-view .ai1ec-allday-events .ai1ec-multiday .ai1ec-event, .page-id-5 .ai1ec-oneday-view .ai1ec-allday-events .ai1ec-allday .ai1ec-event, .page-id-5 .ai1ec-oneday-view .ai1ec-allday-events .ai1ec-multiday .ai1ec-event { /* Homepage event buttun design */
	border-radius: 0;
	background-color: #e7f6ff;
	text-shadow: none;
	font-weight: 700;
	color: #000;
}
.page-id-5 .ai1ec-month-view .ai1ec-event, .page-id-5 .ai1ec-week-view .ai1ec-event, .page-id-5 .ai1ec-oneday-view .ai1ec-event { /* Homepage event button design */
    padding: 10px 3px 8px 3px;
    margin: 10px 10px 10px 0px;
}
.page-id-5 .tablescroll_wrapper, .page-id-5 .ai1ec-pagination, .page-id-5 .ai1ec-views-dropdown, .page-id-5 .ai1ec-subscribe-container, .page-id-5 .ai1ec-allday-label { /* Homepage weekly UI cleanup */
	display: none;
}
.page-id-5 .ai1ec-calendar-toolbar, .page-id-315 .ai1ec-calendar-toolbar, .page-id-1307 .ai1ec-calendar-toolbar, .page-id-4072 .ai1ec-calendar-toolbar, .page-id-4157 .ai1ec-calendar-toolbar { /* Category selection removed */
    display: none;
}
.single-ai1ec_event .events_categories-29 .post-content:before { /* Single hwanil schedule title */
    content: "오늘의 일정";
    font-weight: 700;
    font-size: 18px;
    color: #014da1;
}
.single-ai1ec_event .events_categories-37 .post-content:before { /* Single school food title */
    content: "오늘의 메뉴";
    font-weight: 700;
    font-size: 18px;
    color: #014da1;
}
.ai1ec-agenda-widget-view .ai1ec-date-title, .ai1ec-agenda-view .ai1ec-date-title { /* Removed date gradient */
    background-image: none;
}

/* Transitions */


/* Responsive Settings */

@media screen and (min-width: 801px) {

    #main { /* Minimum content height for desktop */
        min-height: 670px;
    }
    .fusion-page-title-bar .fusion-page-title-row h1 { /* Page title design */
        position: absolute;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
        height: 2rem;
        color: #014da1;
        border-radius: 10px;
        left: calc(17% + 78px);
        top: 1.2rem;
    }
    .fusion-page-title-bar-left .fusion-page-title-secondary { /* Breadcrumb positioning */
        position: absolute;
        top: 55px;
        left: calc(17% + 70px);
    }
    .fusion-filters { /* Tab filter border bottom removed */
        border-bottom: none;
    }
    .icons-quarters {
        width: calc(41% - ( ( 4% ) * 0.3333 ) ) !important;
    }
    .icons-120x260 { /* Adjusted icons height */
        height: 260px;
    }
    .icon-wide { /* Adjusted icon width */
        width: calc(41% - ( ( 4% ) * 0.3333 ) ) !important;
        margin-bottom: 0;
    }
    .icons-vertical { /* Adjusted vertical icons size and position */
        position: absolute !important;
        width: calc(56.5% - 310px) !important;
        left: calc(41.5%);
    }
    .icons-vertical .fusion-column-wrapper { /* Adjusted vertical icons height */
        height: 190px;
    }
    .icons-vertical:nth-child(2) { /* 1/2 vertical icons positioning */
        top: 210px;
    }
    .vertical-ad-banner { /* Vertical ad banner positioning */
        position: absolute !important;
        right: 0;
        width: 310px !important;
    }
    .sublink-right { /* Sublink right */
        height: 120px;
        padding: 15%;
    }
	.hms-sublinks { /* HMS sublinks height adjusted */
		height: 300px;
	}
}

@media screen and (max-width: 1132px) {
    .photo_text{
        display:none;
    }
}

@media screen and (max-width: 800px) {
/* captain's edit */
/* mobile 교육계획 */
#tablepress-70 > tbody > tr > td{
    padding: 4px 0.8em;
}
#mobile_plus{
    margin:1em 0 1.2em;
}

/* mobile 교육목표 */
#tablepress-36 .column-3{
    padding: 0.5em;
    line-height:1.4em;
}

/* mobile 학교위치 */
#tablepress-43 > tbody > tr:first-child > td:nth-child(2){
    width:23%;
}
#tablepress-43 > tbody > tr:nth-child(7) > td:last-child,
#tablepress-43 > tbody > tr:nth-child(8) > td:last-child{
    padding:1.2em 1em;
    text-align:left;
    line-height:1.5em
}
#tablepress-43 > tbody > tr:nth-child(7) > td:last-child > p:last-child{
    padding-left:0.5em;
    text-indent:-0.5em;
}

#tablepress-43 > tbody > tr:nth-child(8) > td:last-child > p:first-child{
    margin:0 0 -5px;
    padding-left:6.7em;
    text-indent:-6.7em;
}
#tablepress-43 > tbody > tr:nth-child(8) > td:last-child > p:last-child{
    margin:-5px 0 0;
    padding-left:9.2em;
    text-indent:-9.2em;
}

/* mobile 환일뉴스 가로메뉴 */
#hwanil_news > div:first-child > ul > li > a{
    padding:0 0.96em;
}
#hwanil_news > div:first-child > ul > li{
    float:left;
    border-bottom:none;
}
#hwanil_news > div:first-child > ul{
    border-bottom: 1px solid #E7E6E6;
}

.fusion-widget-menu > ul > li > a{
    padding:0 1em !important;
}
.fusion-widget-menu > ul > li{
    float:left;
    border-bottom:none;
}
.fusion-widget-menu ul{
    margin-bottom: 3em !important;
}
#menu-widget-16 ul li a{
    font-size:12px !important;
}

    /*----- General Design Settings -----*/
	#main { /* Content top padding reduced */
		padding-top: 35px;
	}
    .fusion-page-title-bar .fusion-page-title-row h1 { /* Page title font color */
        color: #014da1;
    }
    .fusion-secondary-header .fusion-alignleft, .fusion-secondary-header .fusion-alignright { /* Removed rightside top secondary menu */
        display: none;
    }
    .fusion-secondary-header .fusion-row:before { /* Create blue bar */
        height: 10px;
    }
    .fusion-logo img { /* Decreased logo size */
        max-width: 160px;
    }
    .fusion-mobile-menu-icons a { /* Increased toggle menu bar size */
        font-size: 32px;
    }
    .fusion-mobile-menu-icons a:before { /* Changed toggle menu bar color */
        color: #014da1;
    }
    .mobileOnly { /* Show mobile only menus */
        display: block;
    }
	.page-id-5 .fusion-title { /* Removed bottom title margin */
		margin-bottom: 0 !important;
	}
    .fusion-widget-menu ul li { /* Horizontal mobile menu design */
        display: block !important;
		margin-right: 0 !important;
		padding-top: 0 !important;
		border-top: 0 !important;
        /*border-bottom: 1px solid #e7e6e6;*/
        line-height: 34px;
    }
    .fusion-widget-menu ul li:hover { /* Horizontal menu hover removal & current */
	    border-top: none;
        transition-property: none;
        transition-duration: none;
        font-weight: 300;
    }
	.fusion-widget-menu .current-menu-item { /* Horizontal menu current item */
	border-top: 3px solid #014da1 !important;
	line-height: 31px !important;
	}
    #section-name { /* Section title column 1 */
        width: 80% !important;
    }
    #section-icon { /* Section title column 2 */
        width: 20% !important;
        padding-bottom: 7px;
    }
    /*----- Page Content Settings -----*/
    .fusion-page-title-bar { /* Page title mobile positioning */
        background-position: 50px bottom !important;
    }
    /* Hotlinks settings */
    #hlink {
        width: 47% !important;
    }
    #hlink-right {
        width: 47% !important;
        float: right;
    }
    #hlink.icons-vertical {
        float: right; /* Exception */
    }
    #hlink-right.icon-wide {
        float: left; /* Exception */
    }
    .hms-hotlinks .fusion-imageframe { /* Center icons */
        width: 100%;
        text-align: center;
    }
    /* Slider settings */
    #rev_slider_1_1 .uranus.tparrows:before { /* Arrow settings */
        height: 80px;
        line-height: 80px;
        font-size: 30px;
    }
    .page-id-5 .flexslider {
        margin-top: 20px;
    }
    .logo-title-h3 { /* Button margin added */
        margin: 20px !important;
}

}

@media (max-width: 800px) and (orientation: landscape) {
}
